.eh-scroll-loading-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eh-scroll-loading-text-wrap {
  display: flex;
  align-items: center;
}

.eh-scroll-loading-text {
  padding-left: 10px;
}

